extends base


block content 
    form(method="POST")
        input(placeholder="Name",name="name", type="text", requeired)
        input(placeholder="Email",name="email", type="email", requeired)
        input(placeholder="Username",name="username", type="text", requeired)
        input(placeholder="Password",name="password", type="password", requeired)
        input(placeholder="Location",name="location", type="text", requeired)
        input(type="submit", value="Join")