extends base.pug

block content 
    form(method="POST")
        input(placeholder="Title", requried, type="text", name="title")
        input(placeholder="Description", requried, type="text", name="description")
        input(placeholder="Hashtags, separated by comma.", requried, type="text", name="hashtags")
        input(type="submit", value="Upload Video")