extends ../base

block content 
    form(method="POST")
        input(placeholder="Old Password",name="password", type="password", requeired)
        input(placeholder="New Password",name="password", type="password", requeired)
        input(placeholder="New Confirm Password",name="password2", type="password", requeired)
        input(type="submit", value="Change Password")

