extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password",name="oldPassword", type="password", requeired)
        input(placeholder="New Password",name="newPassword", type="password", requeired)
        input(placeholder="New Confirm Password",name="newPasswordConfirmation", type="password", requeired)
        input(type="submit", value="Change Password")

